DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=flight_db
PORT=3000
APP_ORIGIN=http://localhost:5173
JWT_SECRET=mysecret123
RAZORPAY_KEY_ID=rzp_test_Sb2cfwS1lNP5HU
RAZORPAY_KEY_SECRET=MNWTRq5tXAKXB5jIeAvNS5Ch
RAZORPAY_COMPANY_NAME=Udan Khatola
